@import '../../styles/variables';
@import '../../styles/theming';

.mem-form-field {
  position: relative;

  ::ng-deep {
    .mem-form-prefix {
      position: absolute;
      left: $s-16;
      top: 14px;
      pointer-events: none;
    }

    .mem-form-suffix {
      position: absolute;
      right: $s-16;
      top: 14px;
      pointer-events: none;
    }

    .mem-form-hint {
      color: $formFieldHintColor;
      font-size: $fs-11;
      padding: $s-4 0 0 $s-8;

      &:empty {
        display: none;
      }
    }

    .mem-form-error {
      color: $formFieldErrorColor;
      font-size: $fs-11;
      padding: $s-4 0 0 $s-8;

      &:empty {
        display: none;
      }
    }
  }
}

:host {
  &.has-form-field-prefix {
    ::ng-deep .mem-form-field {
      > mem-input-text,
      > mem-input-number {
        input[type='text'],
        input[type='number'] {
          padding-left: 50px !important;
          width: calc(100% - 32px - 2px - 35px);
        }
      }

      .mem-select-label {
        padding-left: 50px !important;
      }
    }
  }

  &.has-form-field-suffix {
    ::ng-deep .mem-form-field {
      .mem-form-suffix {
        margin-right: $s-32 !important;
      }
    }
  }
}
