@use "../variables" as *;
@use "../theming" as *;

.mem-tooltip {
  position: absolute;
  z-index: 1000;
  color: $tooltipColor;
  background-color: $tooltipBgColor;
  padding: $s-2 $s-8;
  border-radius: $borderRadiusSmall;
}
