<div class="mem-icon" [ngClass]="size ? 'size-' + size : ''">
    <mem-icon-account-cowboy-hat *ngIf="icon === 'account-cowboy-hat'"></mem-icon-account-cowboy-hat>
    <mem-icon-account-remove-outline *ngIf="icon === 'account-remove-outline'"></mem-icon-account-remove-outline>
    <mem-icon-account-star *ngIf="icon === 'account-star'"></mem-icon-account-star>
    <mem-icon-account *ngIf="icon === 'account'"></mem-icon-account>
    <mem-icon-airport *ngIf="icon === 'airport'"></mem-icon-airport>
    <mem-icon-android-studio *ngIf="icon === 'android-studio'"></mem-icon-android-studio>
    <mem-icon-arrow-left *ngIf="icon === 'arrow-left'"></mem-icon-arrow-left>
    <mem-icon-arrow-right *ngIf="icon === 'arrow-right'"></mem-icon-arrow-right>
    <mem-icon-arrow-up-thick *ngIf="icon === 'arrow-up-thick'"></mem-icon-arrow-up-thick>
    <mem-icon-bank-outline *ngIf="icon === 'bank-outline'"></mem-icon-bank-outline>
    <mem-icon-beach *ngIf="icon === 'beach'"></mem-icon-beach>
    <mem-icon-bed *ngIf="icon === 'bed'"></mem-icon-bed>
    <mem-icon-bio *ngIf="icon === 'bio'"></mem-icon-bio>
    <mem-icon-book-arrow-down-outline *ngIf="icon === 'book-arrow-down-outline'"></mem-icon-book-arrow-down-outline>
    <mem-icon-book-open-page-variant-outline *ngIf="icon === 'book-open-page-variant-outline'"></mem-icon-book-open-page-variant-outline>
    <mem-icon-book-open-page-variant *ngIf="icon === 'book-open-page-variant'"></mem-icon-book-open-page-variant>
    <mem-icon-book-open-variant *ngIf="icon === 'book-open-variant'"></mem-icon-book-open-variant>
    <mem-icon-bottle-soda-classic-outline *ngIf="icon === 'bottle-soda-classic-outline'"></mem-icon-bottle-soda-classic-outline>
    <mem-icon-calendar-check-outline *ngIf="icon === 'calendar-check-outline'"></mem-icon-calendar-check-outline>
    <mem-icon-calendar-end *ngIf="icon === 'calendar-end'"></mem-icon-calendar-end>
    <mem-icon-car-traction-control *ngIf="icon === 'car-traction-control'"></mem-icon-car-traction-control>
    <mem-icon-caret-down-outline *ngIf="icon === 'caret-down-outline'"></mem-icon-caret-down-outline>
    <mem-icon-castle *ngIf="icon === 'castle'"></mem-icon-castle>
    <mem-icon-chess-rook *ngIf="icon === 'chess-rook'"></mem-icon-chess-rook>
    <mem-icon-chevron-right *ngIf="icon === 'chevron-right'"></mem-icon-chevron-right>
    <mem-icon-church *ngIf="icon === 'church'"></mem-icon-church>
    <mem-icon-city-variant-outline *ngIf="icon === 'city-variant-outline'"></mem-icon-city-variant-outline>
    <mem-icon-city *ngIf="icon === 'city'"></mem-icon-city>
    <mem-icon-close-circle-outline *ngIf="icon === 'close-circle-outline'"></mem-icon-close-circle-outline>
    <mem-icon-close-octagon *ngIf="icon === 'close-octagon'"></mem-icon-close-octagon>
    <mem-icon-close *ngIf="icon === 'close'"></mem-icon-close>
    <mem-icon-content-save *ngIf="icon === 'content-save'"></mem-icon-content-save>
    <mem-icon-cupcake *ngIf="icon === 'cupcake'"></mem-icon-cupcake>
    <mem-icon-delete-forever *ngIf="icon === 'delete-forever'"></mem-icon-delete-forever>
    <mem-icon-desktop-classic *ngIf="icon === 'desktop-classic'"></mem-icon-desktop-classic>
    <mem-icon-dots-vertical *ngIf="icon === 'dots-vertical'"></mem-icon-dots-vertical>
    <mem-icon-drama-masks *ngIf="icon === 'drama-masks'"></mem-icon-drama-masks>
    <mem-icon-emoticon-excited-outline *ngIf="icon === 'emoticon-excited-outline'"></mem-icon-emoticon-excited-outline>
    <mem-icon-family-tree *ngIf="icon === 'family-tree'"></mem-icon-family-tree>
    <mem-icon-fencing *ngIf="icon === 'fencing'"></mem-icon-fencing>
    <mem-icon-file-document-multiple-outline *ngIf="icon === 'file-document-multiple-outline'"></mem-icon-file-document-multiple-outline>
    <mem-icon-filmstrip *ngIf="icon === 'filmstrip'"></mem-icon-filmstrip>
    <mem-icon-filter *ngIf="icon === 'filter'"></mem-icon-filter>
    <mem-icon-fishbowl *ngIf="icon === 'fishbowl'"></mem-icon-fishbowl>
    <mem-icon-fit-to-page-outline *ngIf="icon === 'fit-to-page-outline'"></mem-icon-fit-to-page-outline>
    <mem-icon-flag-checkered *ngIf="icon === 'flag-checkered'"></mem-icon-flag-checkered>
    <mem-icon-flag *ngIf="icon === 'flag'"></mem-icon-flag>
    <mem-icon-food-turkey *ngIf="icon === 'food-turkey'"></mem-icon-food-turkey>
    <mem-icon-food-variant *ngIf="icon === 'food-variant'"></mem-icon-food-variant>
    <mem-icon-food *ngIf="icon === 'food'"></mem-icon-food>
    <mem-icon-format-list-bulleted-type *ngIf="icon === 'format-list-bulleted-type'"></mem-icon-format-list-bulleted-type>
    <mem-icon-format-title *ngIf="icon === 'format-title'"></mem-icon-format-title>
    <mem-icon-fountain *ngIf="icon === 'fountain'"></mem-icon-fountain>
    <mem-icon-grass *ngIf="icon === 'grass'"></mem-icon-grass>
    <mem-icon-hamburger-menu *ngIf="icon === 'hamburger-menu'"></mem-icon-hamburger-menu>
    <mem-icon-head-cog-outline *ngIf="icon === 'head-cog-outline'"></mem-icon-head-cog-outline>
    <mem-icon-head-heart *ngIf="icon === 'head-heart'"></mem-icon-head-heart>
    <mem-icon-head-question-outline *ngIf="icon === 'head-question-outline'"></mem-icon-head-question-outline>
    <mem-icon-history *ngIf="icon === 'history'"></mem-icon-history>
    <mem-icon-home *ngIf="icon === 'home'"></mem-icon-home>
    <mem-icon-image-filter-hdr *ngIf="icon === 'image-filter-hdr'"></mem-icon-image-filter-hdr>
    <mem-icon-image-text *ngIf="icon === 'image-text'"></mem-icon-image-text>
    <mem-icon-image *ngIf="icon === 'image'"></mem-icon-image>
    <mem-icon-island *ngIf="icon === 'island'"></mem-icon-island>
    <mem-icon-logout-variant *ngIf="icon === 'logout-variant'"></mem-icon-logout-variant>
    <mem-icon-map-marker-check-outline *ngIf="icon === 'map-marker-check-outline'"></mem-icon-map-marker-check-outline>
    <mem-icon-map-marker-path *ngIf="icon === 'map-marker-path'"></mem-icon-map-marker-path>
    <mem-icon-movie-filter-outline *ngIf="icon === 'movie-filter-outline'"></mem-icon-movie-filter-outline>
    <mem-icon-movie-open *ngIf="icon === 'movie-open'"></mem-icon-movie-open>
    <mem-icon-movie-roll *ngIf="icon === 'movie-roll'"></mem-icon-movie-roll>
    <mem-icon-movie-settings-outline *ngIf="icon === 'movie-settings-outline'"></mem-icon-movie-settings-outline>
    <mem-icon-music-clef-treble *ngIf="icon === 'music-clef-treble'"></mem-icon-music-clef-treble>
    <mem-icon-music *ngIf="icon === 'music'"></mem-icon-music>
    <mem-icon-noodles *ngIf="icon === 'noodles'"></mem-icon-noodles>
    <mem-icon-palette *ngIf="icon === 'palette'"></mem-icon-palette>
    <mem-icon-pencil *ngIf="icon === 'pencil'"></mem-icon-pencil>
    <mem-icon-plus *ngIf="icon === 'plus'"></mem-icon-plus>
    <mem-icon-progress-upload *ngIf="icon === 'progress-upload'"></mem-icon-progress-upload>
    <mem-icon-radio-button-checked *ngIf="icon === 'radio-button-checked'"></mem-icon-radio-button-checked>
    <mem-icon-radio-button-unchecked *ngIf="icon === 'radio-button-unchecked'"></mem-icon-radio-button-unchecked>
    <mem-icon-run-fast *ngIf="icon === 'run-fast'"></mem-icon-run-fast>
    <mem-icon-shaker-outline *ngIf="icon === 'shaker-outline'"></mem-icon-shaker-outline>
    <mem-icon-shaker *ngIf="icon === 'shaker'"></mem-icon-shaker>
    <mem-icon-shape *ngIf="icon === 'shape'"></mem-icon-shape>
    <mem-icon-shovel *ngIf="icon === 'shovel'"></mem-icon-shovel>
    <mem-icon-sort-ascending *ngIf="icon === 'sort-ascending'"></mem-icon-sort-ascending>
    <mem-icon-sort-calendar-descending *ngIf="icon === 'sort-calendar-descending'"></mem-icon-sort-calendar-descending>
    <mem-icon-sort-descending *ngIf="icon === 'sort-descending'"></mem-icon-sort-descending>
    <mem-icon-sort *ngIf="icon === 'sort'"></mem-icon-sort>
    <mem-icon-star-half-full *ngIf="icon === 'star-half-full'"></mem-icon-star-half-full>
    <mem-icon-star *ngIf="icon === 'star'"></mem-icon-star>
    <mem-icon-terrain *ngIf="icon === 'terrain'"></mem-icon-terrain>
    <mem-icon-test-tube *ngIf="icon === 'test-tube'"></mem-icon-test-tube>
    <mem-icon-timelapse *ngIf="icon === 'timelapse'"></mem-icon-timelapse>
    <mem-icon-timeline-clock *ngIf="icon === 'timeline-clock'"></mem-icon-timeline-clock>
    <mem-icon-timer-outline *ngIf="icon === 'timer-outline'"></mem-icon-timer-outline>
    <mem-icon-ufo *ngIf="icon === 'ufo'"></mem-icon-ufo>
    <mem-icon-unicorn *ngIf="icon === 'unicorn'"></mem-icon-unicorn>
    <mem-icon-view-grid-outline *ngIf="icon === 'view-grid-outline'"></mem-icon-view-grid-outline>
    <mem-icon-wallet-travel *ngIf="icon === 'wallet-travel'"></mem-icon-wallet-travel>
    <mem-icon-water-polo *ngIf="icon === 'water-polo'"></mem-icon-water-polo>
    <mem-icon-waves *ngIf="icon === 'waves'"></mem-icon-waves>
    <mem-icon-arrow-up *ngIf="icon === 'arrow-up'"></mem-icon-arrow-up>
    <mem-icon-arrow-down *ngIf="icon === 'arrow-down'"></mem-icon-arrow-down>
    <mem-icon-caret-up *ngIf="icon === 'caret-up'"></mem-icon-caret-up>
    <mem-icon-caret-down *ngIf="icon === 'caret-down'"></mem-icon-caret-down>
</div>
