@import '../../styles/variables';
@import '../../styles/theming';

.indeterminate-progress-bar {
  background-color: $pageLoaderIndeterminateBgColor;
  border-radius: 9999px;
  height: $s-2;
  position: absolute;
  top: $s-1;
  left: 0;
  width: 100%;
  overflow: hidden;

  .indeterminate-progress-bar__progress {
    background-color: $pageLoaderIndeterminateFillBgColor;
    border-radius: 9999px;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 50%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: indeterminate-progress-bar;
  }
}

@keyframes indeterminate-progress-bar {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}
