@use "../../styles/variables" as *;
@use "../../styles/theming" as *;

.main {
  background-color: $bodyBgColor;

  button.title {
    font-weight: 600;
    text-transform: capitalize;
    background-color: $listCategoryBgColor;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: $s-8;
    padding: $s-16;
    color: $listCategoryColor;
    font-size: $fs-14;
    border: 0;
    text-align: left;
    cursor: pointer;
    box-sizing: border-box;
    font-family: inherit;

    & + button.title {
      margin-top: $s-8;
    }

    .title-label {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .title-caret {
      flex-shrink: 0;
      transition: transform 0.2s ease;
      transform: rotate(-90deg);
    }

    &.isExpanded {
      .title-caret {
        transform: rotate(0deg);
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin: 1px 0;

      a {
        display: block;
        padding: $s-12 $s-8 $s-12 $s-24;
        width: calc(100% - $s-32);
        color: $listLinkColor;
        text-decoration: none;

        &:hover {
          background-color: $listLinkHoverBgColor;
        }

        &.isSelected {
          color: $listLinkSelectedColor;
          background-color: $listLinkSelectedBgColor;
        }
      }
    }
  }
}
