$s-1: 1px;
$s-2: 2px;
$s-4: 4px;
$s-8: 8px;
$s-12: 12px;
$s-16: 16px;
$s-24: 24px;
$s-32: 32px;
$s-48: 48px;
$s-64: 64px;
$s-128: 128px;

$fs-11: 11px;
$fs-12: 12px;
$fs-14: 14px;
$fs-15: 15px;
$fs-20: 20px;
